
@media only screen
and (min-width : 1920px){

  body{
    background-image: url("images/bg-img.png");
   background-size: cover;
  position: relative;
  height: 100%;
  }

  .text{
    font-size: 80px;
      color: #ab8205;
      font-family: Impact, Charcoal, sans-serif;
      text-shadow: 0 0 0 rgb(117,76,0),
                   -1px 1px 0 rgb(63,22,0),
                   -2px 2px 0 rgb(9,-32,0),
                   -3px 3px  0 rgb(-45,-86,0),
                   -4px 4px 3px rgba(10,10,28,0.59),
                   -4px 4px 1px rgba(10,10,28,0.5),
                   0 0 3px rgba(10,10,28,.2);
        text-align: center;
  }

  .u-have{
      margin-left: -170px;
      font-size: 3rem;
      position: absolute;


  }

  .heart-div{

        margin-top: -5px;
        float: right;
        margin-right: 250px;

  }

  .fas{

  margin-top: -40px;
      margin-left: 200px;
      color: #f60505fa;
      text-shadow: 1px 0 black;
      position: absolute;
  }


  .para{
    margin-top: 0;
    position: static;
  }

  .heart1{
  margin-top: 25px;
  margin-left: -73px;
  }




  .heart2{

  margin-top: 26px;
  margin-left: -50px;

  }

  .heart3{

    margin-top: 27px;
        margin-left: -25px;
  color: #f60505fa;
  text-shadow: 1px 0 black;
  }

  .heart4{
      margin-left: -3px;
    margin-top: 27px;
  }

  .heart5{
    margin-left: 18px;
  margin-top: 27px;
  }


  #btn{

      margin-left: 860px;

  }


  #btn2{

      margin-left: 860px;

  }

  #btn3{
    margin-left: 860px;

  }


  #reload{
    margin-left: 200px;
        margin-bottom: -40px;
        margin-top: 40px;
        position: fixed;
  }

  .hide{

    width: 30%;
    position: relative;
    opacity: 0.9;


  }


  .hide1{
    left: 330px;
    width: 30%;
    position: relative;


  }



  .hide:hover {
    opacity: 1.2;
    transform: scale(1.2);


  }

  .hidden{
    width: 30%;
    opacity: 0.9;


  }

  .hidden:hover {
    opacity: 1.2;
    transform: scale(1.2);
  }




  .hidden2{left: 90px;
      bottom: 78px;
      width: 30%;
      position: relative;

  }

  .hidden3{position: relative;
    bottom: 270px;
      left: 573px;
      width: 30%;
  }



  .hidden4{
    position: relative;
        width: 30%;
      margin-top: -303px;
      left: 20px;
  }

  .hidden5{
    margin-top: -192px;
      margin-left: 339px;
  }


  .hidden6{
    margin-top: -192px;
      margin-left: 650px;
  }


  .hidden7{
    margin-top: -135px;
    margin-left: 21px;
  }

  .hidden8{
    margin-left: 330px;
      margin-top: -192px;
  }

  .hidden9{
    margin-left: 652px;
      margin-top: -192px;
  }

  .hidden10{
    margin-left: -231px;
    margin-top: -195px;

  }

  .hidden11{
    position: relative;
    top: -190px;
    left: 135px;
    float: right;

  }


}






@media only screen
and (device-width : 414px)
and (device-height : 896px)
and (orientation : portrait)
 {




  body{
    background-image: url("images/bg-img.png");
   background-repeat: no-repeat;
  position: relative;
  height: 100%;
  }



    .text{
      font-size: 30px;
        color: #ab8205;
        font-family: Impact, Charcoal, sans-serif;
        text-shadow: 0 0 0 rgb(117,76,0),
                     -1px 1px 0 rgb(63,22,0),
                     -2px 2px 0 rgb(9,-32,0),
                     -3px 3px  0 rgb(-45,-86,0),
                     -4px 4px 3px rgba(10,10,28,0.59),
                     -4px 4px 1px rgba(10,10,28,0.5),
                     0 0 3px rgba(10,10,28,.2);
                     position: absolute;
    bottom: -295px;

    left: 31px;

    }

    .u-have{
      position: absolute;
  font-size: 20px;
  left: 10px;
  top: 35px;


    }

    .heart-div{

          margin-top: -5px;
          float: right;
          margin-right: 250px;

    }

    .fas{

    margin-top: -40px;
        margin-left: 200px;
        color: #f60505fa;
        text-shadow: 1px 0 black;
        position: absolute;
    }


    .para{

      position: fixed;
    }

    .heart1{
      top: 82px;
        left: -150px;
    }




    .heart2{

      margin-top: 47px;
        margin-left:-95px;

    }

    .heart3{

      margin-top: 47px;
      margin-left: -76px;
    color: #f60505fa;
    text-shadow: 1px 0 black;
    }

    .heart4{
      margin-top: 47px;
          margin-left: -55px
    }

    .heart5{
      margin-left: -34px;
    margin-top: 47px;
    }


    #btn{

        left: 140px;
position: absolute;
bottom: -112px;
    }


    #btn2{

      position: absolute;
left: 140px;
    bottom: -112px;

    }

    #btn3{
      position: absolute;
left: 140px;
    bottom: -112px;

    }


    #reload{
      right: 253px;
top: 380px;
    position: fixed;
    }

    .hide{

      width: 35%;
      position: relative;
      opacity: 0.9;


    }


    .hide1{
      left: 125px;
      width: 35%;
      position: relative;
      bottom: -40px;


    }



    .hide:hover {
      opacity: 1.2;
      transform: scale(1.2);


    }

    .hidden{
      width: 35%;
      opacity: 0.9;


    }

    .hidden:hover {
      opacity: 1.2;
      transform: scale(1.2);
    }




    .hidden2{left: 62px;

        width: 35%;
        position: relative;
        top: 19px;

    }

    .hidden3{position: relative;
      right: -177px;
      top: -56px;
        width: 35%;
    }



    .hidden4{
      position: relative;
          width: 35%;
        margin-top: -55px;
        left: 20px;
    }

    .hidden5{
      margin-top: -81px;
margin-left: 135px;
    }


    .hidden6{
      margin-top: -81px;
    margin-left: 242px;
    }


    .hidden7{
      margin-top: -2px;
    margin-left: 69px;
    width: 25%;
    }

    .hidden8{
      margin-left: 146px;
      margin-top: -59px;
      width: 25%;
    }

    .hidden9{
      margin-left: 236px;
margin-top: -56px;
width: 25%;
    }

    .hidden10{

      margin-top: -61px;
width: 25%;
    }

    .hidden11{
      position: relative;
      top: -54px;
      left: 15px;
      float: right;
      width: 25%;

    }








































}
